@import "colors.css";
@import "sizing.css";

* {
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.padding-8 {
    padding: 8px;
}

.title {
    font-size: 48px;
    line-height: 1;
}
